
.highlight.name {
  background-color: #cceeff;
  color: #004466;
}
.cursor {
  display: inline-block;
  background-color: #004466;
  width: 2px;
  height: 1em;
  animation: blink 0.7s infinite;
  margin-left: 2px;
}
@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}
